version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Backend (Go)
  - package-ecosystem: "gomod"
    directory: "/backend"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Frontend (NPM)
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
